.add-task-button {
    background-color: chartreuse;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    font-size: 16px;
    color: #444;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
} 

.add-task-button:hover {
    opacity: 1;
}